extends layout

block content
  if currentUser
    if messages 
      .messages
        each message in messages
          .message.pb-5 
            span #{message.user.username} 
            span #{message.formattedTimestamp} 
            p.mt-2 #{message.message}
    else 
      h2 There are no messages
  else 
    .dialog.border.border-3.rounded.border-dark.p-5.d-flex.flex-column.align-items-center.bg-primary.text-white
      h2 Welcome to Nogi Club
      h5.mb-4 Sign In
      form.form-group.d-flex.flex-column.m-auto(action="/login" method="post")
        label(for="username") Username
        input.form-control(type="text" name="username" required)
        br
        label(for="password") Password
        input.form-control(type="password" name="password" required)
        br
        button.btn.btn-dark(type="submit") Sign In
      hr
      p Don't have an account? 
        a(href="/signup") Sign up here.
    


