extends layout

block content
  if currentUser
    if messages 
      .messages.list-group.w-100.gap-2.position-absolute
        each message in messages
          .message.list-group-item.list-group-item-action.flex-column.align-items-start.rounded-3.p-3.bg-dark.text-white
            .d-flex.w-100.justify-content-between.align-items-center
              if user.roles.includes("Club Member") || user.roles.includes("Admin")
                small.text-primary #{message.user.username}
              else
                small Anonymous
              .d-flex.gap-2.justify-content-between.align-items-center
                if user.roles.includes("Club Member") || user.roles.includes("Admin")
                  small.text-primary #{message.formattedTimestamp}
                else
                  small Unknown
                if user.roles.includes("Admin")
                  form(action="/deleteMessage" method="post")
                    input(type="hidden" name="messageID" value=message._id)
                    button.close(type="submit" aria-label="delete")
                      small(aria-hidden="true") ❌               
            hr.mt-1
            p.mb-1 #{message.message}
    else 
      h2 There are no messages.

    .message-input.d-flex.flex-column.w-100.position-absolute
      form.form-group.d-flex.gap-2(action="/newMessage" method="post")
          input.form-control.form-control-lg(type="text" name="message" placeholder="Add new message..." required)
          button.btn.btn-dark(type="submit") Send

  else 
    .dialog.rounded-3.p-5.d-flex.flex-column.align-items-center.bg-dark.text-white.gap-2
      img.d-inline-block.align-text-top.mb-2(src='/images/messages-square.svg' alt='logo' width='40' height='34') 
      h2 Welcome to Nogi Club
      h5.mb-3 Sign In
      form.form-group.d-flex.flex-column.m-auto(action="/login" method="post")
        label(for="username") Username
        input.form-control(type="text" name="username" required)
        br
        label(for="password") Password
        input.form-control(type="password" name="password" required)
        br
        button.btn.btn-primary(type="submit") Sign In
      hr
      p Don't have an account? 
        a(href="/signup") Sign up here.
    


