extends layout

block content
  if currentUser
    h1.mb-5=title
    .message-input.d-flex.flex-column.w-100
      form.form-group.d-flex.gap-2(action="/newMessage" method="post")
          input.form-control.form-control-lg(type="text" name="message" placeholder="Add new message..." required)
          button.btn.btn-dark(type="submit") Send
    if errors
      hr
      each error in errors 
        .alert.alert-danger(role="alert")=error.msg