extends layout

block content
  .dialog.rounded-3.p-5.d-flex.flex-column.align-items-center.bg-dark.text-white
    h2.text-center Welcome to Nogi Club
    h5.mb-4 Sign Up
    form.form-group.d-flex.flex-column.m-auto(action="/signup" method="post")
      .form-group.d-flex.gap-3.mb-3
        .d-flex.flex-column
          label(for="firstname") First Name
          input.form-control(type="text" name="firstname" required)
        .d-flex.flex-column
          label(for="lastname") Last Name
          input.form-control(type="text" name="lastname" required)
      label(for="username") Username
      input.form-control(type="text" name="username" required)
      br
      label(for="password") Password
      input.form-control(type="password" name="password" required)
      br
      label(for="confirmPassword") Confirm Password
      input.form-control(type="password" name="confirmPassword" required)
      br
      button.btn.btn-primary(type="submit") Sign Up
      if errors 
        hr
        each error in errors 
          .alert.alert-danger(role="alert")=error.msg